body {
    background-color:#fbfbfb;
    background-image: linear-gradient(rgba(221,221,221,0.3) 1px, transparent 1px),
                        linear-gradient(90deg, rgba(221,221,221,0.3) 1px, transparent 1px);
    background-size:10px 10px;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

#about_wrap{
    position: relative;
}
.nav {
    top: 4%;
}
.nav .home.about_on:hover a{
    color:#f82c47;
}
#about_main{
    width: 100%; height: 100vh;
    background: #1e1e1e;
    overflow: hidden;
}
.about_main_box{
    position: relative; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}
#about_main .about_img{
    width: 493px;
    display: inline-block;
    vertical-align: middle;
    position: relative; left: 0; top: 100vh;
    animation: about_img_up 1.2s .1s ease forwards
}
@keyframes about_img_up{
    0% {
        top: 100vh;
        transform: translateY(0) rotate(0);
    }
    50% {
        top: -15px;
    }
    100% {
        top: 0;
        transform: translateY(0) rotate(-3deg);
    }
}
#about_main .about_img img{
    width: 100%;
}

#about_main .about_main_txt{
    font-size: 95px;
    color:#f82c47;
    font-weight: 900;
    display: inline-block;
    vertical-align: middle;
    margin-left: 95px;
}
#about_main .about_main_txt p{
    overflow: hidden;
}
#about_main .about_main_txt p span{
    position: relative; left: 0; top: 100px;
}
#about_main .about_main_txt p:nth-child(1) span{
    transition: .5s all ease-in-out;
}
#about_main .about_main_txt p:nth-child(2) span{
    transition: .5s .2s all ease-in-out;
}
#about_main .about_main_txt p:nth-child(3) span{
    transition: .5s .4s all ease-in-out;
}

.container{
    width: 1140px;
    margin: 0 auto;
}
.title{
    font-size: 65px;
    font-weight: bold;
    color:#f82c47;
    margin-bottom: 50px;
}
.title .highlight{
    color:#fff;
    position: relative;
    margin-right: 18px;
}
.title .highlight:before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 13px;
    width: 100%;
    height: 55px;
    background: #f82c47;
    z-index: -1;
}
.sub_title{
    font-weight: bold;
    color:#f82c47;
    font-size: 20px;
    border-bottom: 1px solid #f82c47;
    padding-bottom: 15px;
}
.sub_box {
    margin-top: 16px;
}
.sub_box ul{
    float: left;
}
.sub_box ul li{
    padding-bottom: 10px;
}
#about_me .sub_box .sub_bold li:nth-child(3){
    padding-bottom: 27px;
}
.sub_content{
    font-size: 14px;
    color: #333;
}
.sub_bold{
    font-weight: bold;
    color:#f82c47;
    font-size: 15px;
    margin-right: 18px;
}
.sub_content ul li{
    font-size: 12px;
    margin-top: -6px;
    color: #b7b7b7;
}

#about_me{
    margin-top: 110px;
    overflow: hidden;
}
#about_me .article{
    width: calc((100% - 80px) / 3);
    float: left;
    margin-right: 40px;
}
#about_me .article:last-child{
    margin-right: 0;
}

#my_skill{
    margin-top: 110px;
    overflow: hidden;
}
#my_skill .counter{
    padding: 0 10px;
}
.skill li {
    position: relative;
    float: left;
    width: calc((100% - 50px * 5) / 6);
    margin-right: 50px;
    text-align: center;
}
.skill li:last-child{
    margin-right: 0;
}
.skill li .count {
    font-size: 50px;
    font-weight: bold;
    display: inline-block;
    width: 135px;
    height: 135px;
    line-height: 135px;
    border: 1px solid #333;
    border-radius: 50%;
    text-align: center;
}
.skill li .pie {
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
}
.skill li h3 {
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    color: #333;
    margin-top: 25px;
}

#contact_me{
    margin-top: 120px;
    margin-bottom: 110px;
}
.contact ul li {
    display: inline-block;
    margin-right: 100px;
}
.contact ul li p{
    display: inline-block;
}


@media (max-height: 1080px){
    .nav {
        top: 2.5%;
    }
}

@media (max-width: 1480px) {
    #about_main .about_img{
        width: 420px;
    }
    #about_main .about_main_txt {
        font-size: 90px;
        margin-left: 85px;
    }
}

@media (max-width: 1280px) {
    #about_main .about_img{
        width: 360px;
    }
    #about_main .about_main_txt {
        font-size: 75px;
        margin-left: 60px;
    }

    .container {
        width: 100%;
        padding: 0 8%;
        box-sizing: border-box;
    }
    #about_me .article {
        width: calc((100% - 50px) / 3);
        float: left;
        margin-right: 25px;
    }

    .skill li {
        width: calc((100% - 30px * 5) / 6);
        margin-right: 30px;
    }
}

@media (max-width: 1200px){
    .skill li {
        width: calc((100% - 30px * 2) / 3);
        margin-bottom: 60px;
    }
    .skill li:nth-child(3n) {
        margin-right: 0;
    }
}

@media (max-width: 1080px) {
    #about_main .about_img{
        width: 310px;
    }
    #about_main .about_main_txt {
        font-size: 62px;
        margin-left: 45px;
    }

    #about_me .article {
        width: calc((100% - 25px) / 2);
        float: left;
        margin-right: 25px;
    }
    #about_me .article.career {
        margin-right: 0;
        height: 189px;
    }
    #about_me .article.certificate {
        margin-top: 40px;
    }

    #my_skill {
        margin-top: 80px;
    }
    #contact_me {
        margin-top: 60px;
    }

    .contact ul li {
        margin-right: 60px;
        margin-bottom: 30px;
    }
}

@media (max-width: 980px) {
    #about_main .about_img{
        width: 60%;
        display: block;
        margin: 0 auto;
    }
    #about_main .about_main_txt {
        font-size: 75px;
        margin-left: 0;
        padding-top: 35px;
        text-align: center;
        margin: 0 auto;
        display: block;
    }

    #about_main .about_main_txt p:first-child span{
        display: none;
    }
}

@media (max-width: 720px) {
    #about_main .about_main_txt {
        font-size: 65px;
        padding-top: 30px;
    }

    .container {
        padding: 0 10%;
    }
    .title {
        font-size: 60px;
        margin-bottom: 50px;
    }
    .title .highlight:before {
        height: 49px;
    }

    #about_me .article {
        width: 100%;
        margin-right: 0;
        margin-bottom: 55px;
    }
    #about_me .article.career {
        height: auto;
    }
    #about_me .article.certificate {
        margin-top: 0;
    }

    #my_skill {
        margin-top: 45px;
    }
    #contact_me {
        margin-top: 35px;
    }

    .skill li {
        width: calc((100% - 25px * 2) / 3);
        margin-right: 25px;
    }
}

@media (max-width: 580px) {
    #about_main .about_img{
        width: 50%;
    }
    #about_main .about_main_txt {
        font-size: 45px;
    }

    .skill li {
        width: calc((100% - 25px) / 2);
    }
    .skill li:nth-child(3n){
        margin-right: 25px;
    }
    .skill li:nth-child(2n) {
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    #about_main .about_img{
        width: 50%;
    }
    #about_main .about_main_txt {
        font-size: 40px;
        padding-top: 25px;
    }

    .container {
        padding: 0 12%;
    }
    .skill li {
        width: 100%;
        margin-right: 0;
        margin-bottom: 40px;
    }

    .title {
        font-size: 48px;
        margin-bottom: 50px;
    }
    .title .highlight {
        display: inline-block;
    }
    .title .highlight:before {
        height: 37px;
        top: 11px;
    }
}

@media (max-width: 360px) {
    #about_main .about_main_txt {
        font-size: 30px;
        padding-top: 20px;
    }
}